<script src="/javascripts/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="/javascripts/js/aos.js?ver=1.1.0"></script>
    <script src="/javascripts/main.js?ver=1.1.0"></script>
  
</body>
</html>